<!--
    Dynamic validation on ng-repeat: http://scotch.io/tutorials/javascript/building-dynamic-angular-forms-with-ngrepeat-and-ngform
    TODO: 
        Add reset: https://docs.angularjs.org/guide/forms
-->
<div class="modal-header">
    <h3 class="modal-title">Prepare configuration... </h3>
</div>
<form name="configPropForm" role="form" novalidate>
    <div class="modal-body">
            <div class="form-group has-feedback" ng-repeat="property in propertyList" ng-class="{ 'has-error' : configPropFieldForm.value.$invalid }">
                <ng-form="configPropFieldForm">
                    <label for="name"> {{ property.propertyName }} </label>
                    <!-- property.propertyType should be text, number or radio (will require some more work) -->
                    <input type="{{ property.propertyType }}" class="form-control" id="name" placeholder="{{ property.defaultValue }}" ng-model="property.value" ng-required="!{{ property.nullable }}">
                    <i ng-show="!{{ property.nullable }}" class="glyphicon glyphicon-asterisk form-control-feedback"></i>
                </ng-form>
            </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()" ng-disabled="configPropForm.$invalid">Save</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>
