<!--
-->
<div class="modal-header">
    <h3 class="modal-title">Prepare configuration...</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form">
        <div class="form-group" ng-repeat="property in propertyList">
            <label for="name" class="col-md-2"> {{ property.propertyName }} </label> {{ model.showRequired() }}
            <div class="col-md-10"> <!-- For some reason, this class cannot be applied on the input tag -->
                <!-- property.propertyType should be text, number or radio (will require some more work) -->
                <input type="{{ property.propertyType }}" class="form-control" id="name" placeholder="{{ property.defaultValue }}" ng-model="property.value">
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>