<h2>Create a new extension (or Register?)</h2>
<form role="form" ng-submit="createSubmit()" class="col-md-6">
  <div class="form-group">
    <label for="extensionName">Extension Name</label>
    <input type="text" class="form-control" id="extensionName" placeholder="Enter Extension Name" ng-model="extension.name">
  </div>
  <div class="form-group">
    <label for="groupID">Group ID</label>
    <input type="text" class="form-control" id="groupID" placeholder="Enter Group ID" ng-model="extension.groupID">
  </div>
  <div class="form-group">
    <label for="artifactID">Artifact ID</label>
    <input type="text" class="form-control" id="artifactID" placeholder="Enter Artifact ID" ng-model="extension.artifactID">
  </div>
  <div class="form-group">
    <label for="releaseID">Release ID</label>
    <input type="text" class="form-control" id="releaseID" placeholder="Enter Release ID" ng-model="extension.releaseID">
  </div>

  <button type="submit" class="btn btn-default" >Submit</button>
</form>