<!--
  createExtension.html
-->
<form role="form" ng-submit="registerSubmit()" class="well col-md-6" >
  <div class="form-group required has-feedback">
    <label for="extensionName">Extension Name</label>
    <input type="text" class="form-control" id="extensionName" placeholder="Enter Extension Name" ng-model="extensionName" required>
    <i class="glyphicon glyphicon-asterisk form-control-feedback"></i>
  </div>
  <div class="form-group required has-feedback">
    <label for="groupId required">Group ID</label>
    <input type="text" class="form-control" id="groupId" placeholder="Enter Group ID" ng-model="groupId" required>
    <i class="glyphicon glyphicon-asterisk form-control-feedback"></i>
  </div>
  <div class="form-group required has-feedback">
    <label for="artifactId required">Artifact ID</label>
    <input type="text" class="form-control" id="artifactId" placeholder="Enter Artifact ID" ng-model="artifactId" required>
    <i class="glyphicon glyphicon-asterisk form-control-feedback"></i>
  </div>
  <!-- User won't be able to change this field because for now,
   we now we only register MAVEN release project 
  -->
  <fieldset disabled>
    <div class="form-group required has-feedback">
      <label for="repositoryId">Repository ID</label>
      <input type="text" class="form-control" id="repositoryId" placeholder="releases" ng-model="repositoryId" required>
      <i class="glyphicon glyphicon-asterisk form-control-feedback"></i>
    </div>
  </fieldset>
  <button type="submit" class="btn btn-primary pull-right">Register</button>
</form>