<div class="modal-header">
    <h3 class="modal-title">Deploy a new instance...</h3>
</div>
<div class="modal-body">
    <ul>
        <li>
            <div class="form-group">
            <label for="name">Extension Name</label>
            <input type="text" class="form-control" id="name" placeholder="{{ extension.name }}" readonly="true">
            </div>
        </li>
        <li>
            <div class="form-group">
            <label for="groupID">Group ID</label>
            <input type="text" class="form-control" id="groupID" placeholder="{{ extension.groupID }}" readonly="true">
            </div>
        </li>
        <li>
            <div class="form-group">
            <label for="artifactID">Artifact ID</label>
            <input type="text" class="form-control" id="artifactID" placeholder="{{ extension.artifactID }}" readonly="true">
            </div>
        </li>
        <li>
            <div class="form-group">
            <label for="releaseID">Release ID</label>
            <input type="text" class="form-control" id="releaseID" placeholder="{{ extension.releaseID }}" readonly="true">
            </div>
        </li>
        <li>
            <div class="form-group has-feedback">
            <label for="version">Extension Version</label>
            <input type="text" class="form-control" id="version" placeholder="Specify extension version" ng-model="extension.version">
            </div>
        </li>
        <li>
            <div class="form-group has-feedback">
            <label for="instance">Deploy on instance</label>
            <input type="text" class="form-control" id="instance" placeholder="Specify instance on which the extension will be deployed" ng-model="extension.instance">
            </div>
        </li>
        <li>
            <div class="form-group has-feedback">
            <label for="profile">Configuration Profile</label>
            <input type="text" class="form-control" id="profile" placeholder="Specify profile such as PROD, QA or something else" ng-model="extension.profile">
            </div>
        </li>
        <li>
            <div class="form-group has-feedback">
            <label for="configuration">Configuration</label>
            <textarea class="form-control" placeholder="Specify configuration details here"></textarea>
            </div>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>