<!-- Useful links:
    Highlight a clicked row: http://stackoverflow.com/questions/19331779/how-to-highlight-a-selected-row-in-ngrepeat

-->

<div class="row">
    <div class="col-md-6">
        <div class="list-group">
              <a ng-repeat="extension in model.extensions" class="list-group-item">
                <div ng-click="$parent.hidden=true; $parent.clicked=extension">{{extension.extensionName}}</div>
              </a>
        </div>
    </div>
    <div class="col-md-6">
        <div ng-show="hidden">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>{{clicked.extensionName}}
                        <button type="button" class="close" ng-click="hidden=false">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                    </h3>   
                </div>
                <ul class="list-group">
                    <li ng-repeat="version in clicked.versions" class="list-group-item">
                        <!-- <div ng-click=""> -->
                            {{version.version}}
                        <!-- </div> -->
                            <a href="{{version.document.url}}" data-toggle="tooltip" title="Hive">
                                <i class="glyphicon glyphicon-book pull-right"></i>
                            </a>
                            <!-- <button class="btn btn-default" ng-click="model.extensionToDeploy = extension; openDeployModal()">
                            Deploy an instance</button> -->
                    </li>
                </ul>
            </div>
        </div>  
    </div>
</div>
