<!-- Useful links:
    Highlight a clicked row: http://stackoverflow.com/questions/19331779/how-to-highlight-a-selected-row-in-ngrepeat
    Create a dynamic search box (see examples below): https://docs.angularjs.org/api/ng/directive/ngRepeat
    Selected (checkbox) idea for configuration: http://plnkr.co/edit/ZFRIWOe2HxMq8K11FBk4?p=preview
-->

<div class="row">
    <div class="col-md-6">
        <input type="text" ng-model="search.extensionName" class="form-control" placeholder="Browse an app" name="srch-term" id="srch-term">
        <br>
        <div class="list-group">
            <a ng-repeat="extension in model.extensionList | filter:search" class="list-group-item" ng-click="displayDetails($index, extension)" ng-class="{active : $index==selectedRow}">
                {{extension.extensionName}}
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <div ng-show="show">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button type="button" class="close" ng-click="closeDetails()">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h3>
                        <i><small>{{clickedExtension.groupId}}</small></i>
                        <br>
                        {{clickedExtension.artifactId}}
                    </h3>
                </div>
                <ul class="list-group">
                    <li ng-repeat="version in clickedExtension.versions" class="list-group-item">
                        <a href="{{version.document.url}}" target="_blank" data-toggle="tooltip" title="About {{version.version}}">
							{{version.version}}
						</a>
						<button type="button" ng-click="openConfigEntryModal(clickedExtension.extensionName, version.version)" 
							class="pull-right btn btn-xs" data-toggle="tooltip" title="Configure properties for PROD">
							PROD
						</button>
                        <!-- <div class="pull-right">
                            <a href="http://{{version.document.url}}" target="_blank" data-toggle="tooltip" title="Hive">
                                <i class="btn-xs glyphicon glyphicon-book"></i>
                            </a>
							<a data-toggle="tooltip" title="Configure instance">
	                            <i class="btn-xs glyphicon glyphicon-pencil" ng-click="openConfigEntryModal(clickedExtension.extensionName, version.version)"></i>
							</a>
                        </div> -->
                    </li>
                </ul>
            </div>
        </div>  
    </div>
</div>
