<!-- Useful links:
More on filter! => https://docs.angularjs.org/api/ng/filter/filter
-->
<div class="row">
	<div class="col-md-8 add-top-padding">
		<input ng-model="searchText" class="form-control" placeholder="Search log...">
		<br>
		<ul class="list-group" >
		  <li class="list-group-item" ng-repeat="log in model.executionInfo['details'] | filter:searchText track by $index">{{log}}</li>
		</ul>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{model.executionInfo['appName']}} <small>{{model.executionInfo['appVersion']}}</small></h3>
			</div>
			<div class="panel-body">
				<ul class="list-group">
					<label>Execution Date</label>
					<li class="list-group-item no-border">{{model.executionInfo['executionDate'] | date:'yyyy-MM-dd HH:mm:ss Z'}}</li>
					<label>Status</label>
					<li class="list-group-item no-border">{{model.executionInfo['executionStatus']}}</li>
				</ul>
			</div>
		</div>	
	</div>
</div>