<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
		  <div class="panel-heading">
		  	<h3>job-lexus-rest2express</h3>
		  </div>
		  <div class="panel-body">
		  	Select a version...
		  </div>
		  <!-- Tables -->
		  	<table class="table table-hover">
		  		<!-- <thead>
	                <tr>
	                    <th>Version #</th>
	                </tr>
	            </thead> -->
		   		<tr>
		   			<td>1.0</td>
		   			<!-- when clicked, add favicon "+" -->
		   		</tr>
		   		<tr>
		   			<td>2.0</td>
		   		</tr>
		   		<tr>
		   			<td>3.0</td>
		   		</tr>
			</table>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<ul class="list-group">
			    <li class="list-group-item">Group ID: </li>
			    <li class="list-group-item">Artifact ID: </li>
			    <li class="list-group-item">Release ID: </li>
		  	</ul>
		</div>
	</div>
</div>